@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter Tight', sans-serif;
}

body {
  @apply bg-background text-gray-100;
  margin: 0;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #14181B;
}

::-webkit-scrollbar-thumb {
  background: #4B39EF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3520E3;
}

/* Input focus styles */
input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #4B39EF;
}
